{{outlet}}


<button {{action (action 'sortBy' 'title')}}>Sort by Title</button>
<button {{action (action 'sortBy' 'author')}}>Sort by Author</button>

{{#each sortedRows as |row|}}
    <h2>Title: {{row.title}}</h2>
    <h3>Author: {{row.author}}</h3>
{{/each}}