{{outlet}}


<button {{action (action 'sortBy' 'title' 'asc')}}>Sort by Title</button>
<button {{action (action 'sortBy' 'author' 'asc')}}>Sort by Author</button>
<button {{action (action 'sortBy' 'date' 'desc')}}>Sort by Date</button>

{{#each sortedRows as |row|}}
    <h2>Title: {{row.title}}</h2>
    <h3>Author: {{row.author}}</h3>
    <h5>Date: {{row.date}}</h5>
{{/each}}